.grid{
    width: 400px;
    height: 600px;
    background-color: blue;
    position: relative;
    font-size: 200px;
    text-align: center;
}
.Dood{
    width: 50px;
    height: 80px;
    background-color: darkorange;
    position: absolute;

}
.platform{
    width: 85px;
    height: 15px;
    background-color: darkorchid;
    position: absolute;
}