.grid{
    width: 400px;
    height: 600px;
    background-color: blue;
    position: relative;
    font-size: 200;
    text-align: center;
}
.dood{
    width: 50;
    height: 80;
    background-color: darkorange;
    position: absolute;

}
.platform{
    width: 85px;
    height: 15px;
    background-color: darkorchid;
    position: absolute;
}